@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans&family=Montserrat:wght@700&family=Pacifico&family=Sansita&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

*
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #f3f1f4;
}
body
{
    background: url(/images/back8.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*Doc-Menu-------------------------------------------------*/
.dock
{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    padding: 10px;
    margin-top: 670px;
    position: absolute;
}
.Dapp
{
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    display: flex;
    border-radius: 15px;   
    margin-left: 5px;
    margin-right: 5px; 
    transition: 0.3s;
}
.Dapp:hover
{
    width: 60px;
    height: 60px;
    animation: anime 0.8s;
}
@keyframes anime
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-20px);
    }
    100%
    {
        transform: translateY(0px);
    }
}
.Dapp img
{
    width: 100%; 
    border-radius: 13px;   
    z-index: 1000;
}
.Dapp .Dname
{
    position: absolute;
    top: 0px;
    opacity: 0;
    transform: scale(0.5);
    height: auto;
    width: auto;
    border-radius: 8px;
    font-weight: 500;
    color: black;
    padding: 5px;
    background: #fff;
    transition: 0.3s;
    text-shadow: 0;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.Dapp .Dname::before
{
    content: '';
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -4px;
    left: 38%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: rgb(255, 255, 255);
}
.Dapp:hover .Dname
{
    top: -50px;
    opacity: 1;
    transform: scale(1); 
}
/*Barra vertical do doc*/
.dock .brake
{
    border: 2px solid rgba(0, 0, 0, 0.139);
    border-radius: 20px;
    height: 50px;
    margin: 0 5px 0 10px;
}

/*background*/
section
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #03011e;
    background: linear-gradient(27deg, #03011e 0%, #132344 47%, #052d4c 100%);
    /*animation: animateBg 5s linear infinite;*/
}
/*@keyframes animateBg
{
    0%, 100%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(1.2);
    }
}*/

.star
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #ffff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 1px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}

.star::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.star:nth-child(1)
{
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
.star:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.star:nth-child(3)
{
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.star:nth-child(4)
{
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.star:nth-child(5)
{
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.star:nth-child(6)
{
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.star:nth-child(7)
{
    top: 0px;
    right: 300px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.star:nth-child(8)
{
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.star:nth-child(9)
{
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 2.25s;
}
.star:nth-child(10)
{
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
.star:nth-child(11)
{
    top: 450px;
    right: 20px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
.star:nth-child(12)
{
    top: 0px;
    right: 1px;
    left: initial;
    animation-delay: 1.75s;
    animation-duration: 2.25s;
}
.star:nth-child(13)
{
    top: 0px;
    right: 1px;
    left: initial;
    animation-delay: 1.25s;
    animation-duration: 1.15s;
}
